<div class="row">
  <div class="col">
    <div class="pageTitle">Films</div>

    <app-spinner *ngIf="isLoading"></app-spinner>

    <div *ngIf="!isLoading && error">
      <p class="error">{{ error }}</p>
    </div>

    <ngb-accordion [closeOthers]="true" activeIds="static-1" *ngIf="!isLoading">
      <ngb-panel id="{{index}}" title="{{film.title}}" *ngFor="let film of films; index as index">
        <ng-template ngbPanelContent>
          <div class="row">
            <div class="col-sm-2">
              <label> Year</label>
              <p>{{film.release_date}}</p>
            </div>
            <div class="col-sm-2">
              <label>Score</label>
              <p>{{film.rt_score}}</p>
            </div>
            <div class="col-sm-4">
              <label>Director</label>
              <p>{{film.director}}</p>
            </div>
            <div class="col-sm-4">
              <label>Producer</label>
              <p>{{film.producer}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label>Description</label>
              <p>{{film.description}}</p>
            </div>
          </div>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>

  </div>
</div>
