<div class="row">
  <div class="col">
    <div class="pageTitle">Characters</div>

    <app-spinner *ngIf="(isLoading$ | async)"></app-spinner>

    <div *ngIf="!(isLoading$ | async) && (error$ | async)">
      <p class="error">{{ error$ | async }}</p>
    </div>

    <ngb-accordion [closeOthers]="true" activeIds="static-1" *ngIf="!(isLoading$ | async)">
      <ngb-panel id="{{index}}" title="{{character.name}}" *ngFor="let character of characters$ | async; index as index">
        <ng-template ngbPanelContent>
          <div class="row">
            <div class="col-sm-6">
              <label>Age</label>
              <p>{{character.age}}</p>
            </div>
            <div class="col-sm-6">
              <label>Gender</label>
              <p>{{character.gender}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <label>Hair Color</label>
              <p>{{character.hair_color}}</p>
            </div>
            <div class="col-sm-6">
              <label>Eye Color</label>
              <p>{{character.eye_color}}</p>
            </div>
          </div>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
</div>
